body {
  color: #d3d8de;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  margin-bottom: 0;
}

body::before {
  content: "";
  position: fixed;
  top: -1%; left: -1%; width: 102%; height: 102%;
  background-image: url("imgs/clouds.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(3px);
  z-index: -1;
}

h1, p {
  text-align: center;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.2em;
  margin-bottom: 5px;
}

p {
  font-style: italic;
}

form {
  width: 50vw;
  max-width: 600px;
  min-width: 350px;
  margin: 50px auto 0 auto;
  background-color: rgba(38, 46, 62, 0.8);
  border-radius: 4px 4px 0 0;
}

fieldset {
  margin: 20px 5px;
  padding: 20px 30px;
  border: none;
}

fieldset:first-of-type {
  padding-top: 30px;
}

fieldset:last-of-type {
  margin-bottom: 5px;
  padding-bottom: 5px;
}

input, textarea, select {
  width: 100%;
  height: 2.2rem;
  margin: 5px 0 10px 0;
  padding-left: 5px;
  border: 1px solid #d3d8de;
  background-color: #d3d8de;
  box-sizing: border-box;
  color: #1f2532;
  font-size: 1rem;
  border-radius: 3px;
}

input:focus, textarea:focus, select:focus {
  outline: none;
  border: 2px solid #5f88b5;
}

input[type=radio], [type=checkbox] {
  display: inline-block;
  margin-right: 2px;
  width: 1.2rem;
  height: 1.2rem;
  vertical-align: middle;
}

textarea {
  margin: 10px 0 20px 0;
  padding: 5px;
  height: 100px;
  font-size: 0.85rem;
  resize:inherit;
}

select:hover {
  cursor: pointer;
}

.inline {
  display: block;
}

#submit {
  width: 60%;
  height: 2.4rem;
  margin: 0 20% 25px 20%;
  font-size: 1.2rem;
  border: none;
  border-radius: 4px 4px 0 0;
  background-color: #45516c;
  color: #d7dde4;
  font-weight: bold;
}

#submit:hover {
  background-color:#5f88b5;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
}